configs/ubersicht/widgets/UeberPlayer.widget/cache
configs/ubersicht/widgets/UeberPlayer.widget/lib/currentTrack.plist
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
Brewfile.lock.json
configs/ubersicht/.DS_Store
